<!--create_post.html-->
{% extends 'base.html' %}
{% block title %}写文章{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
	{% if img_url %}
	<img src="{{ img_url }}">
	{% endif %}

<div class="dropzone dropzone-custom" id='id-post-banner'>
	<div class="am-text-success dz-message">
       <label>
	       	点此上传文章头图
	       	<br>
	       	只能上传一张
       </label>      
   	</div>
</div>
<div>
	
</div>
<div id = 'id-post-form'>
    {{ post_form.hidden_tag() }}
    {{ wtf.form_field(post_form.title) }}
    {{ wtf.form_field(post_form.body) }}
    {{ wtf.form_field(post_form.submit) }}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/dropzone/5.2.0/min/dropzone.min.js"></script>
<link href="https://cdn.bootcss.com/dropzone/5.2.0/min/basic.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/dropzone/5.2.0/min/dropzone.min.css" rel="stylesheet">
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{url_for('static', filename='js/post_edit.js')}}">
</script>
<script src="{{ url_for('static', filename='js/pagedown.js') }}"></script>
{% endblock %}