<!--create_post.html-->
{% extends 'base.html' %}
{% block title %}写文章{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
	{% if img_url %}
	<img src="{{ img_url }}">
	{% endif %}
	{{ wtf.quick_form(post_form) }}
	<div id='app-6'>
		<form action="{{url_for('api_post.upload_image')}}" class="dropzone" id='id-post-banner'>
  			<div class="fallback">
    			<input name="banner-image" type="file" multiple />
  			</div>
		</form>
		<input  v-model='title'>
		<br>
		<textarea v-model='content'></textarea>
		<div v-html='marked_m' style="display: inline-block;"></div>
		
		<br>
		<button @click='submit' id='id-button-submit'>Submit</button>
		
	</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="https://cdn.bootcss.com/dropzone/5.2.0/min/dropzone.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
<link href="https://cdn.bootcss.com/dropzone/5.2.0/min/basic.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/dropzone/5.2.0/min/dropzone.min.css" rel="stylesheet">

<script src="{{url_for('static', filename='js/post.js')}}">
</script>
{% endblock %}