<!--index.html-->
{% extends 'base.html' %}
{% import '_macro.html' as macros %}
{% block page_content %}

<div id='mansory' class="row">
{% for post in posts %}
	<div class="thumbnail" data-order='{{ post.id }}'>
		<img src="{{ post.images.first().url_t }}">
		<div class="caption">
			<h4><a href="{{ url_for('main.post', id=post.id) }}">{{post.title}}</a></h4>
			<p>{{ post.body|truncate(30) }}</p>
		</div>
		{% if current_user.is_admin() %}
		<div align="right">
		<a href="{{ url_for('main.edit_post', post=post.id) }}" class='btn btn-default'>编辑</a>
		<button class="btn btn-danger" id='delete-{{post.id}}'>隐藏</button>
		</div>
		{% endif %}
	</div>
{% endfor %}
</div>
<div style="text-align: center;">
	{{ macros.pagination_widget(pagination, 'main.index') }}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src='{{ url_for('static', filename='js/mp.mansory.js') }}'></script>
<script src='{{ url_for('static', filename='js/utils.js') }}'></script>

<script>
	var log = console.log.bind(console);
	$(document).ready(function(){
		//瀑布流mansory
		show_mansory();
		{% for p in posts %}
		delete_post({{p.id}});
		{% endfor %}
	});
</script>
{% endblock %}